name: Deploy Azure CLI Pwsh FunctionApp

on:
  workflow_dispatch:
  
permissions:
  id-token: write
  contents: read
  
jobs:
  getazcli:
    runs-on: windows-2022
    needs: [deployInfra]
    steps:
      - name: Check Azure CLI version
        run: az --version
      - name: Zip Azure CLI directory
        run: Compress-Archive "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2" c:\AZCLI.zip
      - name: Verify zip
        run: test-path c:\AZCLI.zip
      - name: Optionally store as an artifact
        if: false
        run: echo "This could take a lot of space, better to upload directly to storage"
      - name: Copy file to storage
        if: false
        run: azcopy --version
        
  deployInfra:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Az CLI login
        uses: azure/login@v1.4.6
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: Deploy Infrastructure
        run: az deployment group create -g innerloop -f infra/main.bicep -p environmentName=anenv
        
  deployAppCode:
    runs-on: ubuntu-latest
    needs: [deployInfra]
    steps:
      - uses: actions/checkout@v3
      - name: Deploy Function App code
        run: echo "Deploy Bicep"
        
